.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   
   .input_wrap {
    margin-bottom: 4px;
   }
   
   .input_field {
    width: 500px;
   }
   
   .button {
    height: 40px;
   }